<%= stylesheet_link_tag 'mine', media: 'all' %>

<div id="shop" class="absolute h-[100vh] w-[400px] left-0 top-0
        border-t-red-300 border-r-red-300 border-b-red-400 border-l-red-400 border-8 bg-radial-[at_70%_5%] from-red-300 to-red-400">
    <p class="relative text-center text-5xl top-2.5"><strong>Shop</strong></p>
</div>

<div data-controller="mine" class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
    <p id="ruby-count" data-mine-target="rubyCount" class="absolute top-full left-[50%] -translate-x-[50%] text-6xl text-center"></p>

    <%= image_tag "ruby.png", alt: "Ruby", id: "ruby" %>

    <div id="break-imgs" data-mine-target="breakImgs" class="">
        <%= image_tag "break/break0.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break1.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break2.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break3.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break4.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break5.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break6.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break7.png", alt: "Break", class: "break" %>
        <%= image_tag "break/break8.png", alt: "Break", class: "break" %>
    </div>

    <%= image_tag "pickaxe.png", alt: "Pickaxe", id: "pickaxe", data: { mine_target: "pickaxe",
        action: "mousedown->mine#mine mouseenter->mine#hover mouseleave->mine#unhover" } %>

</div>

<!-- <a href="login.html">Login Page</a> -->