<%= stylesheet_link_tag 'mine', media: 'all' %>

<script>
    window.pickaxeImages = [
        "<%= asset_path('pickaxe/wooden.png') %>",
        "<%= asset_path('pickaxe/stone.png') %>",
        "<%= asset_path('pickaxe/golden.png') %>",
        "<%= asset_path('pickaxe/copper.png') %>",
        "<%= asset_path('pickaxe/iron.png') %>",
        "<%= asset_path('pickaxe/diamond.png') %>",
        "<%= asset_path('pickaxe/netherite.png') %>",
        "<%= asset_path('pickaxe/ruby.png') %>"
    ];
    window.missingPickaxe = "<%= asset_path('pickaxe/missing.png') %>";

    window.rubyImg = "<%= asset_path('ruby.png') %>";

    window.breakImages = [
        "<%= asset_path('break/break0.png') %>",
        "<%= asset_path('break/break1.png') %>",
        "<%= asset_path('break/break2.png') %>",
        "<%= asset_path('break/break3.png') %>",
        "<%= asset_path('break/break4.png') %>",
        "<%= asset_path('break/break5.png') %>",
        "<%= asset_path('break/break6.png') %>",
        "<%= asset_path('break/break7.png') %>",
        "<%= asset_path('break/break8.png') %>",
        "<%= asset_path('break/break9.png') %>"
    ];
</script>

<div data-controller="shop" id="shop" class="absolute h-[100vh] w-[450px] left-0 top-0 flex flex-col gap-0
        border-t-red-300 border-r-red-300 border-b-red-400 border-l-red-400 border-8 bg-radial-[at_70%_5%] from-red-300 to-red-400">

    
    <p class="relative text-center text-5xl top-3 mb-10"><strong>Shop</strong></p>

    <div data-shop-target="pickaxeMenu" class="flex flex-row flex-wrap
                *:w-[108.5px] *:border-2 bg-radial-[at_70%_30%] from-red-600 to-amber-600">
    </div>
    
    <div class="flex flex-col gap-10 mt-22 items-center h-min relative bg-neutral-600">
        <img src="<%= asset_path('bookshelf.png') %>" alt="Bookshelf" class="absolute inset-0 w-full h-full object-cover opacity-65">

        <div class="text-center w-[400px] ml-6 mr-6 mt-6 p-3 text-shadow-[0_0_5px_black] text-white">
            <div class="flex flex-col relative float-left">
                <label for="buyEfficiency" data-shop-target="efficiencyText"></label>
                <button type="button" name="buyEfficiency" value="Upgrade Efficiency" data-shop-target="efficiencyPrice" data-action="click->shop#clickE"
                    class="relative p-2 pl-4 pr-4 rounded-full border-2 border-red-600 text-white
                        bg-radial-[at_95%_25%] from-gray-600 to-neutral-500
                        transition duration-300 ease-in-out
                        hover:to-red-400 hover:from-red-200 hover:text-black"></button>
            </div>

            <div class="flex flex-col relative float-right">
                <label for="buyFortune" data-shop-target="fortuneText"></label>
                <button type="button" name="buyFortune" value="Upgrade Fortune" data-shop-target="fortunePrice" data-action="click->shop#clickF"
                    class="relative p-2 pl-4 pr-4 rounded-full border-2 border-red-600 text-white
                        bg-radial-[at_95%_25%] from-gray-600 to-neutral-500
                        transition duration-300 ease-in-out
                        hover:to-red-400 hover:from-red-200 hover:text-black"></button>
            </div>
        </div>
        
        <img src="<%= asset_path('enchanting.png') %>" alt="Enchanting Table" class="h-[250px] w-fit z-10">
    </div>
</div>

<div data-controller="mine" class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
    <p id="ruby-count" data-mine-target="rubyCount" class="absolute top-full left-[50%] -translate-x-[50%] text-6xl text-center"></p>

    <%= image_tag "ruby.png", alt: "Ruby", id: "ruby" %>

    <%= image_tag "break/break0.png", alt: "Break", id: "break", data: { mine_target: "breakImg" } %>

    <%= image_tag "pickaxe/missing.png", alt: "Pickaxe", id: "pickaxe", data: { mine_target: "pickaxe", shop_target: "pickaxe",
        action: "mousedown->mine#mine mouseenter->mine#hover mouseleave->mine#unhover" } %>

</div>