<%= stylesheet_link_tag 'mine', media: 'all' %>

<a href="login.html">Login Page</a>

<br>

<p id="ruby-count">Rubies: 0</p>

<%= image_tag "ruby.png", alt: "Ruby", id: "ruby" %>
<div id="break-imgs">
    <%= image_tag "break/break0.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break1.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break2.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break3.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break4.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break5.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break6.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break7.png", alt: "Break", id: "break" %>
    <%= image_tag "break/break8.png", alt: "Break", id: "break" %>
</div>
<%= image_tag "pickaxe.png", alt: "Pickaxe", id: "pickaxe" %>

<%= javascript_include_tag 'mine.js' %>